.header-conteiner{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #ffffff;
    border-bottom: 2px solid #007dbb;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}


.section-title {
    margin-top: 50px;
    color: #007dbb;
    border-left: 5px solid #f89107;
    padding-left: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

#main-logo {
    height: 50px;
}
/* Ajuste o tamanho da sua logo aqui */

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #007dbb;
    font-weight: 600;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #f89107;
}